.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.fl-btn {
    border-radius: 0;
}

.fl-icon {
    position: relative;
    top: 1px;
    right: 2px;
}

.info {
    margin: 16px 0;
}

.nickname {
    font-size: 1.8rem;
    font-weight: 700;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.name {
    margin-top: 4px;
    color: rgba(22, 24, 35, 0.75);
}

.label {
    color: rgba(22, 24, 35, 0.75);
}

.label + .value {
    margin-left: 8px;
}
