.wrapper {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    //Disable
    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//Button type
.rounded {
    border-radius: 50px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    justify-content: center;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: #fff !important;
    background-color: var(--primary);
    border-color: var(--primary);
    justify-content: center;

    &:hover {
        border-color: var(--primary);
        background-color: rgba(255, 59, 92, 0.8);
    }
}

.outline {
    color: var(--primary) !important;
    border-color: currentColor;
    justify-content: center;

    &:hover {
        border-color: currentColor;
        background-color: rgba(255, 59, 92, 0.1);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
