.wrapper {
    --search-boredr-radius: 90px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search,
.search-result {
    width: 361px;
}

.search-title {
    padding-left: 8px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    border-radius: var(--search-boredr-radius);
    background: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1.5px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:hover .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:hover,
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 12px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.32);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-boredr-radius);
    border-bottom-right-radius: var(--search-boredr-radius);
    font-size: 1.8rem;
    color: #aaa;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

//More btn
.more-icon {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
}
