.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100vw;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    margin-top: var(--default-layout-header-height);
    display: flex;
    height: calc(-60px + 100vh);
}

.content {
    flex: 1;
}
