.wrapper {
    --search-boredr-radius: 90px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//Action
.action {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    top: 3px;
    color: #161823;
    padding: 4px 10px;
    cursor: pointer;
    background-color: transparent;

    &::after {
        content: '35';
        font-family: var(--font-family);
        font-weight: 700;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 5px;
        border-radius: 50px;
        color: #fff;
        background-color: var(--primary);
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}

.more-icon {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}
